<a name="definition"></a>
<div class="row">
  <div class="col-md-12 text-center">
    <h2>Definition of Selfhosted</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12" style="font-size: 16px;">
    <p>The porous of this selection is to describe what a selfhosted application is and the requirements for a pies of software to be considered being selfhosted.</p>

    <p>
      A selfhosted application is a pies of software that can work as a replacement of some hosted consumer-type software. This is not to be confused with the concept of <a href="https://en.wikipedia.org/wiki/Self-hosting">Self-hosting (Wikipedia)</a>.
    </p>
  </div>
</div>
